<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer-inner">
          {{ if .Site.Data.social }}
          {{ partial "social.html" . }}
          {{ end }}
          <div class="vercel">
            <a href="https://pantrypoints.com" rel="noopener" target="_blank">Uses Pantrypoints</a>
            <span style="opacity: .5;">&middot;</span>
            <a href="https://pantrypoints.com/peers" rel="noopener" target="_blank">Made by Pantry Peers</a>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>